<section class="vh-100">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
          <div class="card" style="border-radius: 1rem;">
            <div class="row g-0">
              <div class="col-md-6 col-lg-5 d-none d-md-block img-body">
                <img src="../../../assets/image/Banner-front.png"
                  alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
              </div>
              <div class="col-md-6 col-lg-7 d-flex align-items-center">
                <div class="card-body p-4 p-lg-5 text-black">
  
                  <form [formGroup]="form" (submit)="onSubmit()">
  
                    <div class="d-flex align-items-center mb-3 pb-1">
                      <i>
                        <img class="logo" src="../../../assets/logo/LogoGymPL.ico" alt="">
                      </i>
                      <span class="h1 fw-bold mb-0">Gym Phương Lưu</span>
                    </div>
  
                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Đăng nhập tài khoản</h5>
  
                    <div data-mdb-input-init class="form-outline mb-4">
                      <input type="email" id="form2Example17" class="form-control form-control-lg" formControlName="emailOrUsername" placeholder="Email address or username"/>
                      <!-- Validation Error Message for emailOrUsername -->
                      <div *ngIf="form.controls['emailOrUsername'].touched && form.controls['emailOrUsername'].invalid">
                        <small class="text-danger" *ngIf="form.controls['emailOrUsername'].hasError('required')">
                          Email or Username is required
                        </small>
                        <small class="text-danger" *ngIf="form.controls['emailOrUsername'].hasError('invalid')">
                          Please enter a valid Email or Username
                        </small>
                      </div>
                    </div>
  
                    <div data-mdb-input-init class="form-outline mb-4">
                      <input type="password" id="form2Example27" class="form-control form-control-lg" formControlName="password" placeholder="Password"/>
                      <!-- Validation Error Message for password -->
                      <div *ngIf="form.controls['password'].touched && form.controls['password'].invalid">
                        <small class="text-danger" *ngIf="form.controls['password'].hasError('required')">
                          Password is required
                        </small>
                      </div>
                    </div>
  
                    <div class="pt-1 mb-4">
                        <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-lg btn-block btn-login" [disabled]="form.invalid">
                            Đăng nhập
                        </button>
                    </div>
  
                    <a class="small text-muted">
                        <button class="btn-forgotPassword">
                            Quên mật khẩu?
                        </button>
                    </a>
                    <p class="mb-5 pb-lg-2" style="color: #393f81;">Bạn chưa có tài khoản?
                        <a routerLink="/signup">
                            <button class="btn-signup" (click)="goToSignUp()">
                                Đăng ký
                            </button>
                        </a>
                    </p>
                    <a href="#!" class="small text-muted">Terms of use.</a>
                    <a href="#!" class="small text-muted">Privacy policy</a>
                  </form>
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>